
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# AWS Lambda Serverless
.serverless/
serverless-runner/node_modules/
lambda/node_modules/
test-results.log
*.backup.*
